{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block body %}
    <div class="main">
        {% with msgs = get_flashed_messages(with_categories = true) %}
            {% if msgs %}
                {% for cat, msg in msgs %}
                    <p class="flash-error">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p class="main-title">Login</p>
        <form action="{{ url_for('login') }}" class="login-form" method="post">
            <input type="text" name="username" placeholder="Username" minlength="4" maxlength="32" required>
            <input type="psw" name="password" placeholder="Password" minlength="8" maxlength="72" required>
            <input type="submit" value="Login">
        </form>
        <p class="login-footer">Don't have a account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
    </div>
{% endblock %}